.btn {
    color: #fff;
    padding: .4rem 1rem;
    border: solid 2px #fff;
    border-radius: 6px;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background: #fff;
        color: $darkGrey;
    }
    &--white {
        background: #fff;
        color: $darkGrey;

        &:hover {
            opacity: .8;
        }
    }
    &--wide {
        padding: 1rem 3rem;
    }
}