.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 437px; // For sticky footer
    @include atMedium {
        padding-bottom: 348px;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;

    &--half-right {
        max-width: 600px;
        margin: 0;
        padding-right: 0;
        @include atMedium {
            padding-left: 5rem;
        }
    }
    &--half-left {
        max-width: 600px;
        margin: 0;
        padding-left: 0;
        @include atMedium {
            padding-right: 5rem;
        }
    }
}