.content-bar {
    display: flex;
    overflow: hidden;
    position: relative;
    &__section {
        flex-grow: 1;
        &--image {
            flex-basis: 0;
            flex-grow: 1;
        }
        &--content {
            padding: 0 2rem;
            flex: 0 0 auto;
            width: auto;
        }
    }
    &__container {
        display: flex;
    }
    &__content {
        max-width: 400px;
    }
    // &__image {
    //     position: absolute;
    //     @include center-y;
    //     width: 100%;
    // }
}