.diet-icon {
    width: 30px;
    height: 30px;
    font-family: los-feliz, serif;
    font-size: .8rem;
    color: $darkGreen;
    border-radius: 50px;
    border: 3px solid;
    min-width: 16px;
    min-height: 16px;
    position: relative;
    display: inline-block;
    &::after {
        position: absolute;
        @include center;
    }
    &--vegan {
        &::after {
            content: 'Ve';
        }
    }
    &--vegatarian {
        &::after {
            content: 'V';
        }
    }
    &--spicy {
        color: $mainRed;
        &::after {
            content: 'S';
        }
    }
    &--x-margin {
        margin: 0 0.32rem;
        @include atMedium {
            margin: 0 1rem;
        }
    }

    &__text {
        font-size: .8rem;
    }
}