.footer {
    background-image: $redGradient;
    border-top: solid 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    &__list {
        list-style: none;
        padding-left: 0;
        color: #fff;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: 300;
        li {
            margin: 0.5rem 0;
        }
        a {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__copyright {
        font-size: 0.6rem;
        text-align: center;
        font-weight: 300;
    }
}