.header {
    padding: .1rem 0;
    width: 100%;
    z-index: 10;
    background-color: $darkGrey;
    transition: .4s;
    position: fixed;
    @include atMedium {
        padding: 1rem 0;
    }
    &__logo {
        max-width: 100%;
        padding: 0.2rem 0;
        transition: .4s;
    }
    &--home {
        background-color: initial;
    }
    &--open {
        background-color: $darkGrey;
    }
    &--reduce {
        background-color: $darkGrey;
        padding: .4rem 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        .header__logo {
            max-width: 180px;
        }
    }
}