.mono-list {
    font-family: anonymous-pro, monospace;
    list-style: none;
    padding: 0;
    line-height: 2rem;
    text-transform: uppercase;

    &--m-bottom {
        margin-bottom: 2rem;
    }
}