.page-section {
    position: relative;
    padding: 2rem 0;
    &--top {
        padding-top: 10%;
        @include atMedium {
            padding-top: 5.1rem;
        }
        @include atLarge {
            padding-top: 7.6rem;
        }
    }
    &--grey {
        background-image: linear-gradient(#eee, transparent);
    }
    &--angled {
        background-color: #fff;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 60px;
            position: absolute;
            bottom: -26px;
            background-color: inherit;
            transform: skewY(-2deg);
            z-index: 1;
        }
    }
}