.page-section {
    padding: 2rem 0;
    position: relative;

    &--gradient-rainbow {
        background-color: $lightGrey;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-image: $rainbowGradient; 
        }
    }
    &--angled {
        background-color: #fff;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 60px;
            position: absolute;
            bottom: -30px;
            background-color: inherit;
            transform: skewY(-2deg);
            z-index: 1;
        }
    }
}