.m-auto {
    margin: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.color-red {
    color: $mainRed;
}

.color-green {
    color: $darkGreen;
}

.relative-center {
    position: relative;
    @include center-x;
    &--mob {
        @include atMedium {
            left: 0;
            transform: translateX(0);
        }
    }
}